.autoclick {
    pointer-events: none;
    width: 20px;
    height: 20px;
    background-color: #67c23a;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    opacity: 0.5;
    z-index: 999999998;
}

.autoclicktrue {
    pointer-events: none;
}

#autoclickcontorl {
    position: fixed;
    top: 220px;
    right: 10px;
    background-color: #303133;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    display: none;
    z-index: 999999998;
}

#autoclickcontorl>#input1 {
    display: flex;
    height: 25px;
    width: 100%;
    line-height: 25px;
}

#autoclickcontorl>#input2 {
    display: flex;
    height: 25px;
    width: 100%;
    line-height: 25px;
}

#autoclickcontorl>div>* {
    background-color: #00000000;
    color: white;
    text-align: center;
    width: 50%;
    font-weight: bolder;
    font-size: 10px;
    box-shadow: 0px 0px 1px 1px white;
    border: none;
}

#autoclickcontorl>div>*[name="true"] {
    background-color: #67c23a;
}

.autoclicktrue {
    display: none;
}